# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# ESP-IDF
build/
test_app/build/
sdkconfig
sdkconfig.old
sdkconfig.defaults
test_app/sdkconfig
test_app/sdkconfig.old
test_app/sdkconfig.defaults
dependencies.lock
managed_components/
test_app/dependencies.lock
test_app/managed_components/

# IDE
.DS_Store
*.swp
*.swo
*~
.idea/
.vscode/

# Python
__pycache__/
*.pyc
.Python

# Misc
*.log
